<!DOCTYPE html> <html> 

<head> 
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<title>{{ .Title }}</title>
	<style>
		body {
			background: #333333;
			color: lightgray;
			width: max(90%, 70ch);
			font-size: 1rem;
			font-family: "Mononoki Nerd Font Mono";
			margin: auto;
		}
		h1 {
			color: blue
		}
	</style>
</head>

<body> 
	{{ .Body }}
</body>

</html>
